
  body, h1, h2, h3, h4, p {
    margin:0;
    padding:0;
  }

  body {
    font-family: "Myriad Set Pro", "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
  }

  p {
    word-wrap: normal;
  }

  p.title {
    font-size: 26px;
    margin: 10px 0px;
  }

  p.error {
    color: red;
  }

  div.clear {
    clear: both;
    border: 0px;
  }

  div#main {
    margin: 100 auto;
    width: 600px;
  }

  div#main-left {
    float: left;
    width: 47%;
  }

  div#main-right {
    float: left;
    width: 43%;
    height: 150px;
    border-left: 1px solid gray;
    font-size: 32px;
    padding: 20px 0 0 30px;
  }

  div.lbfield {
    display: inline-block;
    width: 90px;
    text-align: right;
  }

  div.inputfield {
    display: inline-block;
    width: 110px;
  }

  input {
    margin-top: 15px;
  }
